<app-info-step-control [title]="'PROPERTY_CREATE.BEDS_GUESTS' | translate" [value]="infos().guests.value"
                       (valueChange)="onInfoChange($event, 'GUESTS')">
</app-info-step-control>
<app-info-step-control [title]="'PROPERTY_CREATE.BEDROOMS' | translate" [value]="infos().bedrooms.value"
                       (valueChange)="onInfoChange($event, 'BEDROOMS')">
</app-info-step-control>
<app-info-step-control [title]="'PROPERTY_CREATE.BEDS' | translate" [value]="infos().beds.value"
                       (valueChange)="onInfoChange($event, 'BEDS')">
</app-info-step-control>
<app-info-step-control [title]="'PROPERTY_CREATE.BATHROOMS' | translate" [value]="infos().baths.value"
                       (valueChange)="onInfoChange($event, 'BATHS')">
</app-info-step-control>
