@if (isHome) {
  <div class="categories" #categoriesContainer>
    @for (category of categories; track category.technicalName) {
      @if (category.technicalName !== 'ALL') {
        <div class="flex flex-column align-items-center pb-3 category"
             (click)="onChangeCategory(category)" [class.category-activated]="category.activated">
          <fa-icon class="mb-1" [icon]="category.icon"></fa-icon>
          <div title="{{ category.displayName | translate }}" class="name">{{ category.displayName | translate }}</div>
        </div>
      }
    }
  </div>
}
